<h1>Listing users</h1>

<br />
<br />

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th>Manager</th>
	</tr>

<% @users.each do |user| %>
	<tr>
		<td> <%= user.login %> </td>
		<td> <%= user.name %> </td>
		<td> <%= user.email %> </td>
		<td> <%= user.manager%> </td>
  </tr>
<% end %>
</table>

<br />

