<p>
<%= link_to "Welcome", root_path %> |
<%= link_to "Projects", projects_url %> |
<%= link_to "Tasks", tasks_url %>
<% if current_user %>
	| <%= link_to "Logout", logout_path %>
<% end %>
</p>
<hr />
